@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Indie+Flower&family=Julius+Sans+One&family=Playfair+Display&display=swap");

body {
  font-family: "Julius Sans One", sans-serif;
  color: #002d72;
  overflow-x: hidden;
}

/* Add this meta tag to set the viewport width */
<meta name="viewport" content="width=device-width, initial-scale=1.0">

/* Add this media query to ensure that the parent container is properly sized */
@media screen and (max-width: 0px) {
  .flex {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
}

@layer base {
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8),
    hsla(242, 74%, 61%, 0.8)
  ) !important;
}

.contact-image-container {
  animation-name: flying-mango;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  position: absolute;
  top: -80;
  left: 0;
}

@keyframes flying-mango {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(100px, 30px);
  }
  20% {
    transform: translate(180px, -100px);
  }
  30% {
    transform: translate(300px, 150px);
  }
  40% {
    transform: translate(400px, -50px);
  }
  50% {
    transform: translate(500px, 100px);
  }
  60% {
    transform: translate(600px, -150px);
  }
  70% {
    transform: translate(723px, 48px);
  }
  80% {
    transform: translate(800px, -100px);
  }
  90% {
    transform: translate(900px, 150px);
  }
  100% {
    transform: translate(1000px, 0);
  }
}
